*{
    padding: 0;
    margin: 0;
    font-family: "Nunito",sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 600px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
}

h2{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label, .gender-tile{
    width: 95%;
    color: #000;
    font-weight: bold;
    margin: 5px 0;
}

.gender-tile{
    font-size: 16px;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
}

.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.gender-category{
    color: #000;
}

.gender-category label, .gender-category input{
    cursor: pointer;
}

.alert p{
    font-size: 14px;
    font-style: italic;
    color: #000;
    margin: 5px 0;
    padding: 10px;
    line-height: 1.5;
}

.alert a{
    font-weight: bold;
    text-decoration: none;
    color: #380036;
}

.button-container{
    margin: 15px 0;
}

.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b,#61045f);
    cursor: pointer;
    transition: 0.3s;
}

.button-container button:hover{
    background-image: linear-gradient(to right, #61045f, #aa076b);
    transform: translateY(-3px);
}

